body{
    margin: 0;

    background-image: url();
}

@media screen and (max-width: 768px) {

    body {
    background-color: rgb(13, 17, 23);
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: auto;

    margin: auto;

}

.bloco{
    width: 100%;
    height: auto;

    margin: auto;

    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco img{
    width: 100%;
}

.center{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
}

.action{
    width: 10rem;

    height: 3rem;

    border-radius: 0.5rem;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(151, 214, 63);

    border: none;

    margin-bottom: 1rem;

    background-color: rgb(0, 75, 70);
}

}
